<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185276882060-cuqi2ios7coduvf582c6g7e9456meodt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185276882060-cuqi2ios7coduvf582c6g7e9456meodt</string>
	<key>API_KEY</key>
	<string>AIzaSyCr-tMuRi0TKoezkU-Int-YR7-GGx8hiXg</string>
	<key>GCM_SENDER_ID</key>
	<string>185276882060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.stant.Rvs-Travels</string>
	<key>PROJECT_ID</key>
	<string>rvstravel-b9d97</string>
	<key>STORAGE_BUCKET</key>
	<string>rvstravel-b9d97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185276882060:ios:303e35f8dcf3282c9defa9</string>
</dict>
</plist>